* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  z-index: -1;
}
nav {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  min-height: 5 vh;
  align-items: center;
  color: white;
  /* border: 1px white solid; */
}
#logo{

}
.hamburger_menu {
  justify-self: end;
  scale
}
section {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

.back {

  height: 60%;
  width: 100%;
}

.back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headline {
  position: absolute;
  top: 70%;
  left: 10%;
  font-size: 100px;
  transform: translate (-20%, -70%);
  color: whitesmoke;
}
.h1 {
  font-size: 22px;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to-left, lightblue, white);
  z-index: -1;
}
nav {
  min-height: 10vh;
}
